Image Database
testing Images
training Images
validation Images
TestLabels.txt
TrainLabels.txt
ValLabels.txt
progress.txt
progress250.txt
testing Images File.txt
TestLabels250.txt
training Images File.txt
TrainLabels250.txt
validation Images File.txt
ValLabels250.txt
dataset.h5
dataset.rar
GPTh5LogisticWithPlainML.py
PlainMLTest.py
*.h5
dataset10thousand.7z
dataset500.rar
